/******************************************************************************
 *
 * Reset.
 *
 *****************************************************************************/
body {
  font-size: 100%;
}








/******************************************************************************
 *
 * Layout.
 *
 *****************************************************************************/
.container {
  width: 90%;
  margin: 0 auto;
}








/******************************************************************************
 *
 * Components
 *
 *****************************************************************************/
.button {
  display: block;
}









